.footer{
    background:#354046;
}
  
.footer p{
    font-size: 1rem;
    color:#eee;
    padding: 1rem 0;
}
  
.footer .col-md-4{
    padding: 1.3rem
}
  
.footer .col-md-4:nth-child(1) a{
    font-size: 2rem;
    color:#fff;
}
  
.footer .col-md-4:nth-child(1) a span{
    color:#0188DF;
}
  
.footer a{
    font-size: 1rem;
    color:#ccc;
    display: block;
}
  
.footer h3{
    color:#fff;
    font-size: 2rem;
}
  
.footer a:hover{
    color:#0188DF;
}
  
/* .footer .credit{
    color:#fff;
    width:80%;
    margin:0;
    padding:2rem 0;
    padding-bottom: 2rem;
    border-top: .1rem solid #ccc !important;
}
  
.footer .credit span{
    color:#0188DF;
}   */